<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazarev Agency</title>
<link rel="stylesheet" href="file.css">
</head>
<body>
    
    <!-- <header class="header">
        <div class="container">
            <h1 class="title">LAZAREV.</h1>
            <nav class="nav">
                <a href="#">CASE STUDIES</a>
                <a href="#">AREAS OF EXPERTISE</a>
                <a href="#">UI/UX DESIGN</a>
                <a href="#">PRODUCT DESIGN</a>
                <a href="#">DESIGN PROCESS</a>
                <a href="#">ABOUT AGENCY</a>
                <button class="button">LET'S TALK</button>
            </nav>
        </div>
    </header> -->

    <main class="content">
        <section class="left-content">
            <h2 class="title">Last, but not least: check our case study to make sure you have seen it all.</h2>
            <div class="project">
                <img src="/lacal.com" alt="Project Image">
                <p>LATEST PROJECT - ACCERN. RHEA</p>
                <div class="project-info">
                    <div class="number">500M</div>
                    <div class="description">In funding clients raised owning to our design work</div>
                </div>
                <div class="project-info">
                    <div class="number">120+</div>
                    <div class="description">International industry awards</div>
                </div>
            </div>
            <!-- <div class="quote">
                <p>Lazarev. fostered a positive engagement by delivering a navigable site that allowed users to absorb information quickly.</p>
                <div class="quote-author">
                    <img src="https://i.ibb.co/F0wQ46B/author-image.png" alt="Author Image">
                    <div class="author-name">BOYD HOBBS</div>
                    <div class="author-title">PRESIDENT & OWNER, NODO FILMSYSTEMS</div>
                </div> -->
            </div>
        </section>
        <section class="right-content">
            <h2 class="title">Let's Create Something Epic Together.</h2>
            <form class="form">
                <input type="text" placeholder="YOUR NAME*">
                <input type="email" placeholder="EMAIL*">
                <input type="text" placeholder="COMPANY NAME*">
                <button type="submit">EXPLAIN PROJECT IDEA →</button>
            </form>
            <div class="action-buttons">
                <button>HELLO@LAZAREVAGENCY</button>
                <button>PROMO@LAZAREVAGENCY</button>
              
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-message">
            <p>THIS WEBSITE USES COOKIES. <a href="#">LEARNMORE</a></p>
        </div>
        <button class="button">ACCEPT</button>
    </footer>
</body>
</html>