<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert data</title>
</head>
<body>
    <form method="post"action="/posts">
    <input type="text"placeholder="enter user name"name="user"><br>
    <textarea name="content" rows="10" cols="30" placeholder="write contant"></textarea><br>
    <button>submit post</button>
    </form>
</body>
</html>