<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post in details</title>
    <link rel="stylesheet" href="/forshow.css">
</head>
<body>
    <h1>your post's in details</h1>
      <h2>post for id:<%= post.id %></h2>
    <div class="user"><h3>@<%= post.username %></h3></div>
    <div class="contant"><h4><%= post.contant %></h4></div>

</body>
</html>